.button {
  height: 7rem;
  width: 7rem;
  background-image: url(../../public/images/icon-dice.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: none;
  background-color: hsl(150, 100%, 66%);
  margin-bottom: -3.5rem;
  padding: 2rem;
  transition: all 0.2s;

  &:hover {
    box-shadow: 0px 0px 50px 2px hsl(150, 100%, 66%);
  }

  &:active {
    background-color: coral;
  }
}
