.card {
  background-color: hsl(217, 19%, 24%);
  margin: 25rem auto;
  width: 55rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
