@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Manrope", sans-serif;
}

body {
  box-sizing: border-box;
  background-color: hsl(218, 23%, 16%);
  height: 100vh;
}
